{{#section 'title'}}
	Thêm mới xe
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" type="text/css" href="/css/codemirror.min.css">
	<link rel="stylesheet" type="text/css" href="/css/code_view.min.css">
	<link rel="stylesheet" type="text/css" href="/css/froala_editor.min.css">
	<link rel="stylesheet" type="text/css" href="/css/froala_style.min.css">
{{/section}}

{{#section 'js'}}
	<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/js/xml.min.js"></script>
	<script src="/js/codemirror.min.js"></script>
	<script src="/js/froala_editor.min.js"></script>
	<script src="/js/code_view.min.js"></script>
	<script src="/js/align.min.js"></script>
	<script src="/js/paragraph_format.min.js"></script>


	<script type="text/javascript">
		$('#NgayNhan').datepicker({
			format: 'd/m/yyyy',
			autoclose: true
		});

		$('#moTa').froalaEditor();
	</script>

{{/section}}

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h3 class="panel-title" style="color: white">Thêm xe mới vào danh sách</h3>
			</div>
		</div>
	</div>
	<div class="panel-body" id="pad-bot">
		<form action="" method="POST" role="form" enctype="multipart/form-data">
			<legend>Thông tin chung</legend>
			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<label>Chọn hình ảnh xe:</label>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<input type="file" name="photos" value="" multiple  required>
							<small class="form-text text-muted">Có thể chọn nhiều ảnh xe cùng lúc</small>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<label>Mã xe:</label>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<input type="text" name= "MaXe" class="form-control" value="{{maTangDan}}" readonly>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-TenXe has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Tên xe:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="text" name="TenXe" value="" class="form-control" required>
								<p class="help-block TenXe-null">Vui lòng điền thông tin vào đây!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-Gia has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Giá:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="number" name="Gia" value="" class="form-control" required>
								<p class="help-block Gia-null">Vui lòng điền thông tin vào đây!</p>
								<p class="help-block Gia-format">Vui lòng điền giá trị lớn hơn 0!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<label>Hãng xe:</label>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<select id="inputState" class="form-control" name="HangXe">
								{{#each products1}}
								<option value="{{MaHangXe}}">{{TenHangXe}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<label>Dòng xe:</label>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<select id="inputState" class="form-control" name="DongXe">
								{{#each products2}}
								<option value="{{MaDongXe}}">{{TenDongXe}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<label>Ngày nhập xe về:</label>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<input type="text" id="NgayNhan" name="NgayNhan" class="form-control" required>
							<p class="help-block NgayNhan-null">Vui lòng điền thông tin vào đây!</p>
							<span class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>

				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-SoLuongTon has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Số xe nhập về:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="number" name="SoLuongTon" value="" class="form-control" required>
								<p class="help-block SoLuongTon-null">Vui lòng điền thông tin vào đây!</p>
								<p class="help-block SoLuongTon-format">Vui lòng điền giá trị lớn hơn 0!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group form-MoTa has-feedback">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<label>Mô tả:</label>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<textarea name="MoTa" rows="5" class="form-control" id="moTa" required></textarea>
						<p class="help-block MoTa-null" style="color: #a94442">Vui lòng điền thông tin vào đây!</p>
						<span class="glyphicon glyphicon-ok form-control-feedback"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					</div>
				</div>
			</div>

			<legend>Thông số kỹ thuật</legend>
			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-XuatXu has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Xuất xứ:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="text" name="XuatXu" value="" class="form-control" required>
								<p class="help-block XuatXu-null">Vui lòng điền thông tin vào đây!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-NhienLieu has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Nhiên liệu:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="text" name="NhienLieu" value="" class="form-control" required>
								<p class="help-block NhienLieu-null">Vui lòng điền thông tin vào đây!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-MauSac has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Màu sắc:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="text" name="MauSac" value="" class="form-control" required>
								<p class="help-block MauSac-null">Vui lòng điền thông tin vào đây!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-HopSo has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Loại hộp số:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="text" name="HopSo" value="" class="form-control" required>
								<p class="help-block HopSo-null">Vui lòng điền thông tin vào đây!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="input">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-SoCua has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Số cửa:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="number" name="SoCua" value="" class="form-control" required>
								<p class="help-block SoCua-null">Vui lòng điền thông tin vào đây!</p>
								<p class="help-block SoCua-format">Vui lòng điền giá trị lớn hơn 0!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="form-group form-SoCho has-feedback">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label>Số chỗ:</label>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
								<input type="number" name="SoCho" value="" class="form-control" required>
								<p class="help-block SoCho-null">Vui lòng điền thông tin vào đây!</p>
								<p class="help-block SoCho-format">Vui lòng điền giá trị lớn hơn 0!</p>
								<span class="glyphicon glyphicon-ok form-control-feedback"></span>
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row" id="foot">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<button type="submit" class="btn btn-primary" id="btnSub">Thêm</button>
							<a class="btn btn-default" href="/manageCar" role="button">
								<span class="glyphicon glyphicon-arrow-left"></span>
								Quay trở lại xem danh sách xe
							</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{{#if isAdd}}
	<script type="text/javascript">
		swal("Thêm xe mới vào danh sách thành công!", {
			icon: "success",
		});
	</script>
{{/if}}
