{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có xe nào trong hệ thống dữ liệu.
	</div>
</div>
{{else}}
<div class="container-fluid">
	<div class="row" style="background-color: white">	
		<div class="container-fluid">
			<h3>Danh sách các xe</h3>
			<table class="table table-hover table-bordered">
				<thead>
					<tr style= "background-color: #b8daff; color: black">
						<th>Mã xe</th>
						<th>Tên xe</th>
						<th>Hãng Xe</th>
						<th>Dòng xe</th>
						<th>Giá</th>
						<th>Ngày nhận</th>
						<th>&nbsp</th>
						<th>&nbsp</th>
					</tr>
				</thead>
				{{#each products}}
				<tbody>
					<tr>
						<td>{{MaXe}}</td>
						<td>{{TenXe}}</td>
						<td>{{TenHangXe}}</td>
						<td>{{TenDongXe}}</td>
						<td>{{number_format Gia}}</td>
						<td>{{NgayNhan}}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		</div>
	</div>
</div>
	{{!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<div class="item">
			<div class="prod-grid">
				<a href="javascript:;" title="{{TenXe}}" class="thumbnail">
					<img src="/image/all/{{TenXe}}/{{TenXe}}_1.jpg" data-lazyload="/image/all/{{TenXe}}/{{TenXe}}_1.jpg" alt="{{TenXe}}">
				</a>
				<div class="infoBestSell">
					<h3><a href="javascript:;">{{TenXe}}</a></h3>
					<div class="clearfix">
						<div class="special-price">
							<span class="price product-price">
								{{number_format Gia}}
							</span>
						</div>
					</div>
				</div>
				<form class="products-view-grid" action="" method="post" data-id="">
					<div class="group">
						<button type="button" class="button square hvr-rectangle-out" name="Delete">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<button type="button" class="button square hvr-rectangle-out" name="Update" data-toggle="modal" data-target="#boxUpdateCar">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>
						<button type="button" class="button square hvr-rectangle-out" name="Detail" data-toggle="modal" data-target="#boxDetail">
							<i class="fa fa-eye"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div> --}}

<ul class="pagination">
	<li class="disabled">
		<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li><a href="?page={{value}}">{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li>
		<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
</nav>
{{/if}}